/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #07070d;
    color: #fff;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}


header {
    background-color: #04040a;
    padding: 20px 0;
    text-align: left;
}

header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#hero {
    background-color: #11111f;
    padding: 100px 0;
    text-align: center;
}

#hero h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #11111f;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ddd;
}

#about, #services, #portfolio, #contact {
    padding: 100px 0;
    text-align: center;
}

.service {
    margin-bottom: 40px;
}

.service h3 {
    margin-bottom: 10px;
}

.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #04040a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    padding: 0;
}

#content {
    position:relative;
  }
  
  .images {
    position:absolute;
    top:100%;
    left:100%;
  }

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated {
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}